@media only screen and (max-width: 770px) {
    .t-raper {
        display: flex;
        flex-direction: column;
    }

    .social {
        justify-content: center;
    }

    .phone {
        flex-grow: 1;
        padding: 13.5px 0px 12.5px 0px;
        border-left: none;
        margin: auto;
    }

    .email {
        flex-grow: 2;
        padding: 13.5px 0px 12.5px 0px;
        border-left: none;
        margin: auto;
    }

    .nav {
        flex-direction: column;
        margin-top: 59px;
        margin-left: -89px;
        background-color: aqua;
        padding: 10px 20px;
        display: none;
    }

    /* #tog-2{
        display: none;
    } */
    .m-raoer {
        justify-content: center;
    }

    .nav .icon {
        color: blue;
    }

    .sss {
        display: block !important;
    }

    /* slider area */
    .slid-cn h1 {
        width: 100%;
        font-size: 30px;
        line-height: 44px;
    }

    .slid-cn p {
        width: 100%;
    }

    .slid-cn>button,
    .but {
        margin-bottom: 24px;
        width: 100%;
    }

    .bac-3 .redio {
        display: none;
    }
    /* from-us */
    .from-img {
        width: 41vw;
    }

    .from-us-wrap {
        grid-template-columns: auto auto;
    }
    .from-us .bottom {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .from-us .bottom p {
        margin-right: 11px;
        text-align: center;
    }
    .bottom h3 {
        text-align: center;
    }
    
}


@media only screen and (max-width: 1000px) {
    .nav li {
        margin: 7px;
    }

    .oadd {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 24px;
    }

    .totle h2 a {
        font-size: 15px;
    }

    .totle p {
        font-size: 16px;
    }

    .totle {
        margin: 0px 0px;
    }

    .service {
        background-color: #F5F6F6;
        margin-top: 30px;
    }

    /* work area */
    .work-team {
        flex-direction: column;
    }

    .worke-img {
        width: 86vw;
        margin: 90px 60px 0px 0px;
    }

    .worke-con li {
        margin-right: 11px;
    }

    /* counting area */
    .omg {
        display: flex;
        flex-direction: column;
    }

    .conting {
        background: radial-gradient(black, transparent);
    }

    .coun {
        float: none;
        width: 100%;
        margin: 60px 0;
        border: 2px solid chartreuse;
        padding: 36px 0px;
        border-radius: 123px;
    }

    /* from us */
    .bottom p {
        font-size: 14px;
        text-align: revert;
        margin-right: 5px;
    }

    .bottom h3 {
        font-size: 15.7px;
    }
}

@media only screen and (max-width: 430px) {
    .oadd {
        display: flex;
        flex-direction: column;
    }

    /* work area */
    .ul-repar {
        flex-direction: column;
    }

    /* counting area */
    .omg h3 {
        font-size: 17px;
    }

    .omg h2 {
        font-size: 56px;
    }

    .coun {
        border-radius: 13px;
        margin: 35px 0;
    }
    /* from-us */
    .from-img {
        width: 86vw;
    }
    .from-us-wrap {
        grid-template-columns: auto;
    }
    .from-us .bottom p {
        font-size: 18px;
    }
    .bottom h3 {
        font-size: 20.7px;
    }
}